# .gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.env

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Docker
*.log
*.pid
*.pid.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
artifacts/*.pkl
artifacts/*.cbm
artifacts/*.pt
artifacts/df.csv
artifacts/profiles.csv
!artifacts/.gitkeep
*.parquet
*.csv
logs/
output/
*.log

# Streamlit
.streamlit/secrets.toml

# Testing
.pytest_cache/
.coverage
htmlcov/
notebooks/all_pairs_for_split/
notebooks/all_pairs_for_split_catbost_only/
notebooks/full_pairs_whithin_split/
notebooks/catboost_info/
notebooks/output/

# OSa
Thumbs.db
Desktop.ini
